*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

h3 {
  font-size: 52px;
  text-align: center;
  line-height: 54.6px;
  letter-spacing: 0.3px;
}

.row {
  text-align: center;
}

.Body {
  background-color: white;
}
